.flutter-plugins-dependencies
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/.filecache
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/app.dill
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/debug_android_application.stamp
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/flutter_assets.d
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/gen_localizations.stamp
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/kernel_snapshot.d
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/kernel_snapshot.stamp
.dart_tool/flutter_build/c954bf70d9813fcfe018a2b175a81ff7/outputs.json
build/app/intermediates/dex/debug/mergeDexDebug/out/classes.dex
build/app/intermediates/external_libs_dex/debug/mergeExtDexDebug/out/classes.dex
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_assets/NOTICES
build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/+Dnb0YXu4CKlzsqscLfGhWzG_8A=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/e07aYwePbiyxBTZ1vqhp7Jla0g4=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/h1vkRg75cR6Q01KVccQrOZB_ikw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/qvqqOT0SxKvINSAQJYr4ZGriigo=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/r8mQWa3UVxScMkHbU2MlH8qmIR4=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/rNC9RRBN19QhcRpie9lRt+HZwog=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/sI5QGK1r5I+j7b61C7kpmeCketk=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/sNM+ZuUe1KsojLUUvvQvdmOy85Q=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/wLkoByeR80cViUqoE1VWAZcr48E=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/yOte0A8hm9tsP4dnAhQp85XeM0I=
build/app/intermediates/incremental/debug-mergeNativeLibs/merge-state
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+Dnb0YXu4CKlzsqscLfGhWzG_8A=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/e07aYwePbiyxBTZ1vqhp7Jla0g4=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/h1vkRg75cR6Q01KVccQrOZB_ikw=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/qvqqOT0SxKvINSAQJYr4ZGriigo=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/r8mQWa3UVxScMkHbU2MlH8qmIR4=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/rNC9RRBN19QhcRpie9lRt+HZwog=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/sI5QGK1r5I+j7b61C7kpmeCketk=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/sNM+ZuUe1KsojLUUvvQvdmOy85Q=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/wLkoByeR80cViUqoE1VWAZcr48E=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/yOte0A8hm9tsP4dnAhQp85XeM0I=
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/mergeDebugResources/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/0i_JrsuNY+_7csMJvM2p_RAuoXE=
build/app/intermediates/javac/debug/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
build/app/intermediates/merged_assets/debug/out/flutter_assets/NOTICES
build/app/intermediates/merged_java_res/debug/out.jar
build/app/intermediates/transforms/dexBuilder/debug/0/io/flutter/plugins/GeneratedPluginRegistrant.dex
build/app/kotlin/compileDebugKotlin/build-history.bin
build/app/kotlin/compileDebugKotlin/last-build.bin
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab_i.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
build/app/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
